<!-- -------------------------- -->
<!-- SUBMIT POST DIV -->
<!-- -------------------------- -->
<div class="column is-three-fifths-desktop is-two-fifths-tablet">
<% if member_signed_in? %>
  <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <% if current_member.avatar.attached? %>
            <% image = member_seeded_image?(current_member) %>
            <%= image_tag (image), :class => "is-rounded" %>
          <% else %>
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'form' %><br>
      </div>
  </article>
<% else %>

<!-- -------------------------- -->
<!-- WELCOME BUTTON -->
<!-- --------------------------- -->
<div class="section has-text-centered">
  <button class="button is-primary modal-button is-large">
    <span>Welcome</span>
    <span class="icon">
      <i class="far fa-hand-paper"></i>
    </span>
  </button>
  <div class="modal has-text-left">
    <%= render 'welcome' %>
  </div>
</div>
<% end %>

<!-- -------------------------- -->
<!-- FEED -->
<!-- --------------------------- -->
<% @posts.each do |post|  %>
<% if @highlight_id.to_i == post.id.to_i %>
  <div class="box highlight" id="<%= post.id %>">
<% else %>
  <div class="box" id="<%= post.id %>">
  <% end %>
    <article class="media">
      <!-- -------------------------- -->
      <!-- PROFILE AVATAR POST -->
      <!-- --------------------------- -->
      <% if member_signed_in? %>
        <div class="media-left <%= current_member.favorited?(post.member) ? 'button-is-following' : 'button-not-following' %>">
          <figure class="image is-64x64">
            <% if post.member.avatar.attached? %>
              <% image = member_seeded_image?(post.member) %>
              <%= image_tag (image), :class => "is-rounded" %>
            <% else %>
              <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
            <% end %>
          </figure>
          <% unless current_member == post.member %>
            <%= link_to toggle_follow_post_path(post), method: :post, remote: true, :class => "level-item post-buttons" do %>
              <div class="follow-icon" data-id="<%= post.id %>">
                <button class="button follow-tag is-rounded is-small <%= current_member.favorited?(post.member) ? 'is-primary is-outlined' : 'is-light' %>">
                  <%= current_member.favorited?(post.member) ? 'following' : 'follow' %>
                </button>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
      <% end %>
      <!-- -------------------------- -->
      <!-- POST BODY -->
      <!-- --------------------------- -->
      <div class="media-content">
        <div class="content">
          <div>
            <% if member_signed_in? %>
              <strong><%= post.member.name %></strong>
              <a href="/members/<%= post.member.id %>"><small>@<%= post.member.username %></small></a>
              <small><%= time_ago_in_words(Time.now, post.created_at) %></small>
            <% else %>
              <strong>Anonymous</strong> <small><%= time_ago_in_words(Time.now, post.created_at) %></small>
            <% end %>
            <div class="message-content">
              <strong><%= post.title %></strong><br>
              <%= post.message %>
            </div>
          </div>
          <div class="tabs is-right">
            <ul>
              <li class="like-link">
                <a><%= pluralize(post.favoritors.count, "like") %></a>
              </li>
              <% if member_signed_in? %>
                <li class="comment-link"><a><%= pluralize(post.comments.size, "comment") %></a></li>
              <% else %>
                <li class="comment-link"><a><%= pluralize(post.comments.size, "comment") %></a></li>
              <% end %>
            </ul>
          </div>
          <% if member_signed_in? %>
            <div class="tags tags-active">
              <% post.favoritors.each do |favoritor| %>
                <span class="tag"><%= favoritor.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- -------------------------- -->
        <!-- MEMBERS POST NAVBAR -->
        <!-- --------------------------- -->
        <nav class="level is-mobile">
          <% if member_signed_in? %>
            <div class="level-left">
              <%= link_to toggle_favorite_post_path(post), method: :post, remote: true, :class => "level-item post-buttons" do %>
                <div class="like-icon" data-id="<%= post.id %>">
                  <i class="<%= current_member.favorited?(post) ? 'fas' : 'far' %> fa-heart"></i>
                </div>
              <% end %>
              <!-- -------------------------- -->
              <!-- COMMENTS FORM -->
              <!-- --------------------------- -->
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <a class="comment-button level-item post-buttons" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <!-- <span>Content</span> -->
                    <span class="icon is-small">
                      <i class="far fa-comment" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div class="box comments-form">
                      <% data = find_post_page([post]) %>
                      <%= simple_form_for [post, post.comments.build], namespace: post.id do |f| %>
                        <%= f.error_notification %>
                        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                        <div class="field">
                          <div class="control">
                            <%= f.input :body, label: "Leave a comment", input_html: { class: "textarea" }, wrapper: false,
                              label_html: { class: "label" }, placeholder: "That's so fetch..." %>
                          </div>
                          <br>
                          <%= f.button :submit, 'Post!', class: "button is-primary is-small" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -------------------------- -->
              <!-- ViEW COMMENTS -->
              <!-- --------------------------- -->
              <% unless post.comments.count == 0 %>
                <div class="dropdown comment-box">
                  <div class="dropdown-trigger">
                    <button class="button comment-button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>View Comments</span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <% post.comments.each do |comment| %>
                      <a href="#" class="dropdown-item">
                        <% if comment.member %>
                          <article class="media">
                            <figure class="media-left">
                              <p class="image is-48x48">
                                <% if comment.member.avatar.attached? %>
                                  <% image = member_seeded_image?(comment.member) %>
                                  <%= image_tag (image), :class => "is-rounded" %>
                                <% else %>
                                  <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png">
                                <% end %>
                              </p>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                <div class="comment-body">
                                  <p>
                                    <strong><%= comment.member.name %></strong><br>
                                    <%= comment.body %><br>
                                    <small> · <%= time_ago_in_words(Time.now, comment.created_at) %></small>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </article>
                          <% if current_member == comment.member && member_signed_in? %>
                            <% data = find_post_page([post]) %>
                            <small><%= link_to "delete", post_comment_path(id: comment.id, post_id: post.id, page: data), method: :delete, :class => "comment-delete-button", data: {confirm: "delete comment?"} %></small>
                          <% end %>
                        <% end %>
                      </a>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- -------------------------- -->
            <!-- MEMBER POST NAVBAR RIGHT -->
            <!-- --------------------------- -->
            <% if current_member == post.member %>
              <div class="level-right">
                <a class="level-item post-buttons" href="<%= edit_post_path(post) %>" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                  </span>
                </a>
                <%= link_to post_path(post), method: :delete, :class => "level-item post-buttons", data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash-alt" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <% unless post.comments.count == 0 %>
              <div class="dropdown comment-box">
                <div class="dropdown-trigger">
                  <button class="button comment-button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>View Comments</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <% post.comments.each do |comment| %>
                    <a href="#" class="dropdown-item">
                      <ul>
                        <li><strong>Anon</strong></li>
                        <li class="comment-message"><%= comment.body %></li>
                        <li class="time-ago"><%= time_ago_in_words(Time.now, comment.created_at) %></li>
                      </ul>
                    </a>
                    <% end %>
                    <hr class="dropdown-divider">
                    <a class="button is-primary is-outlined is-small" href="<%= new_member_registration_path %>">
                      Sign up to know who says what!
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </nav>
      </div>
    </article>
  </div>
<% end %>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <% unless @page == 0 %>
          <small><%= link_to "Previous Page", posts_path(page: @page - 1) %></small>
        <% end %>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <% unless @page == @last_page %>
          <small><%= link_to "Next Page", posts_path(page: @page + 1) %></small>
        <% end %>
      </div>
    </div>
  </div>
</div>
