<div class="column is-one-third-desktop is-one-third-tablet">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= current_member.name %>
      </p>
      <a href="/members/edit" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="far fa-edit"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div>
        <p class="image is-64x64">
          <% if current_member.avatar.attached? %>
            <% image = member_seeded_image?(current_member) %>
            <%= image_tag (image), :class => "is-rounded" %>
          <% else %>
            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
          <% end %>
        </p>
      </div>
      <div>
        <small><%= current_member.blurb %></small>
        <a href="/members/<%= current_member.id %>">@<%= current_member.username %></a>
        <br>
      </div>
    </div>
    <div class="tabs is-small">
      <ul>
        <% member_liked_data = member_liked_data(current_member) %>
        <% member_liked_data %>
        <% followers = member_followers(current_member) %>
        <li><a class="liked-posts-tab"><%= member_liked_data[:liked_posts].length %> liked posts</a></li>
        <li><a class="followers-tab"><%= followers.length %> followers</a></li>
        <li><a class="following-tab"><%= member_liked_data[:following].length %> following</a></li>
      </ul>
    </div>
    <div class="liked-posts-tags tags tags-active">
      <% member_liked_data[:liked_posts].each do |post| %>
      <% data = find_post_page([post]) %>
        <a class="tag is-black is-rounded" href="<%= posts_path(page: data, highlight_id: post.id) %>"><%= post.message[0..4] %>..</a>
      <% end %>
    </div>
    <div class="followers-tags tags tags-active">
      <% followers.each do |follower| %>
        <a class="tag is-black is-rounded" href="/members/<%= follower.id %>"><%= follower.name %></a>
      <% end %>
    </div>
    <div class="following-tags tags tags-active">
      <% member_liked_data[:following].each do |member| %>
        <a class="tag is-black is-rounded" href="/members/<%= member.id %>"><%= member.name %></a>
      <% end %>
    </div>

    <footer class="card-footer">
      <a href="/members" class="card-footer-item"><small>All Members<small></a>
    </footer>
  </div>
  <%= render 'trending' %>
</div>
