
  <nav class="panel">
    <br>
    <% data = top_member %>
    <h2 class="subtitle trending-title">Most Active Members</h2>
    <% data.each do |member| %>
      <div class="notification is-light">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <% if member[0].avatar.attached? %>
                <%= image_tag member[0].avatar, :class => "is-rounded" %>
              <% else %>
                <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png">
              <% end %>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <% if member_signed_in? %>
                <a href="members/<%= member[0].id %>"><small><%= member[0].name %></small></a>
              <% else %>
                <small><%= member[0].name %></small>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    <% end %>
    <br>
    <% data = most_active_post(@posts) %>
    <h2 class="subtitle trending-title">Top Posts</h2>
    <% data.each do |post| %>
      <div class="notification is-light">
        <a class="trending-link" href="posts/<%= post[0] %>">
          "<%= post[1][1] %>"
        </a>
      </div>
    <% end %>
  </nav>
