<div class="container profile-container">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128 member-profile-pic">
            <% if @member.avatar.attached? %>
              <%= image_tag @member.avatar, :class => "is-rounded" %>
            <% else %>
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content level">
            <div class="level-left">
              <div class="level-item">
                <h1 class="title is0-4"><%= @member.username %></h1>
              </div>
              <% if current_member == @member %>
                <div class="level-item">
                  <button class="button is-primary is-small"> Edit Profile </button>
                </div>
              <% end %>
            </div>
          </div>
          <div class="content level">
            <div class="level-left">
              <% member_liked_data = member_liked_data(@member) %>
              <% member_liked_data %>
              <% followers = member_followers(@member) %>
              <div class="level-item">
                <p><strong><%= @member.posts.count %></strong> posts</p>
              </div>
              <div class="level-item">
                <p>
                  <button class="button followers-button">
                    <strong class="count"><%= member_followers(@member).length %></strong>
                    <small class="count-text">followers</small>
                  </button>
                </p>
              </div>
              <div class="level-item">
                <% data = member_liked_data(@member) %>
                <p>
                  <button class="button following-button">
                    <strong class="count"><%= data[:following].length %></strong>
                    <small class="count-text">following</small>
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div class="content level">
            <div class="followers-div tags tags-active">
              <% followers.each do |follower| %>
                <a class="tag is-black is-rounded" href="/members/<%= follower.id %>"><%= follower.name %></a>
              <% end %>
            </div>
          </div>
          <div class="content level">
            <div class="following-div tags-active">
              <% member_liked_data[:following].each do |member| %>
                <a class="tag is-black is-rounded" href="/members/<%= member.id %>"><%= member.name %></a>
              <% end %>
            </div>
          </div>
          <div>
            <p>
              <strong><%= @member.name %></strong>
              <br>
              <%= @member.blurb %>
            </p>
          </div>
        </div>
      </article>
      <hr>

      <% divided_posts = divide_posts(@posts) %>
      <% divided_posts.each do |array| %>
        <div class="tile is-ancestor">
          <% array.each do |post| %>
            <div class="tile is-parent">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <% if post.image.attached? %>
                      <p class="image is-128x128">
                        <%= image_tag post.image %>
                      </p>
                    <% end %>
                    <p>
                      <a href="/posts/<%= post.id %>"><strong><%= post.title %></strong></a>
                      <br>
                      <%= post.message %>
                      <br>
                      <small>
                        <% if post.comments.count > 0 %>
                          <a class="media-active-toggler">View Comments</a> ·
                        <% end %>
                        <%= time_ago_in_words(Time.now, post.created_at) %>
                      </small>
                    </p>
                  </div>
                  <div class="view-comments media-active">
                    <% post.comments.each do |comment| %>
                      <article class="media">
                        <figure class="media-left">
                          <p class="image is-48x48">
                            <% if comment.member.avatar.attached? %>
                              <%= image_tag comment.member.avatar, :class => "is-rounded" %>
                            <% else %>
                              <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png">
                            <% end %>
                          </p>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                            <p>
                              <strong><%= comment.member.name %></strong>
                              <br>
                              <%= comment.body %>
                              <br>
                              <small> · <%= time_ago_in_words(Time.now, comment.created_at) %></small>
                            </p>
                          </div>
                        </div>
                      </article>
                    <% end %>
                  </div>
                </div>
              </article>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
